<!-- 概览界面 -->

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div style="text-align:center" >
        <h1>
          {{ title }}!
        </h1>
      
        <div class="site-wrapper">
      
          <div class="site-wrapper-inner">
            <div class="cover-container">
              <div class="inner cover">
                <h1 class="cover-heading">封面</h1>
                <p class="lead">封面是一个单页模板，用于构建简单漂亮的主页。下载、编辑文本，并添加您自己的全屏背景照片，使之成为您自己的</p>
                <p class="lead">
                  <button class="btn btn-lg btn-default" (click)="gotoindex()">返回首页</button> 
                </p>
              </div>
            </div>
      
          </div>
      
        </div>
      
    </div>    
        
</div>
