<!-- 数据的设置 -->



<div class="container col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <!-- Example row of columns -->
    <div class="row">

      <!-- <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div> -->

      <!-- 设置第一个实验参数 -->
      <div class="col-md-4">
          <h1>
            数据的设置
          </h1>
    
          <div>
              <form class="form-horizontal">
    
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">左数据一</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputEmail3" placeholder="左数据一" #left_value_1>
                    </div>
                  </div>
    
                  <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">左数据二</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputPassword3" placeholder="左数据二" #left_value_2>
                    </div>
                  </div>
    
                  <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">左数据三</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputPassword3" placeholder="左数据三" #left_value_3>
                    </div>
                  </div>
    
                  <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">左数据四</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputPassword3" placeholder="左数据四" #left_value_4>
                    </div>
                  </div>
    
                  <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">左数据五</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputPassword3" placeholder="左数据五" #left_value_5>
                    </div>
                  </div>
                  
              </form>
    
          </div>     
          <button type="submit" class="btn btn-default" (click)="left_submit(left_value_1, left_value_2, left_value_3, left_value_4, left_value_5)">左提交</button>
      </div>

      <!-- 设置第二个实验参数 -->
      <div class="col-md-4">
          <h1>
            数据的设置
          </h1>
    
          <div>
              <form class="form-horizontal">
    
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">中数据一</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputEmail3" placeholder="中数据一" #center_value_1>
                    </div>
                  </div>
    
                  <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">中数据二</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputPassword3" placeholder="中数据二" #center_value_2>
                    </div>
                  </div>
    
                  <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">中数据三</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputPassword3" placeholder="中数据三" #center_value_3>
                    </div>
                  </div>
    
                  <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">中数据四</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputPassword3" placeholder="中数据四" #center_value_4>
                    </div>
                  </div>
    
                  <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">中数据五</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputPassword3" placeholder="中数据五" #center_value_5>
                    </div>
                  </div>
                  
              </form>
    
          </div>     
          <button type="submit" class="btn btn-default" (click)="center_submit(center_value_1, center_value_2, center_value_3, center_value_4, center_value_5)">中提交</button>
      </div>
      
      <!-- 设置第三个实验参数 -->
     <div class="col-md-4">
      <h1>
        数据的设置
      </h1>

      <div>
          <form class="form-horizontal">

              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">右数据一</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputEmail3" placeholder="右数据一" #right_value_1>
                </div>
              </div>

              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">右数据二</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputPassword3" placeholder="右数据二" #right_value_2>
                </div>
              </div>

              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">右数据三</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputPassword3" placeholder="右数据三" #right_value_3>
                </div>
              </div>

              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">右数据四</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputPassword3" placeholder="右数据四" #right_value_4>
                </div>
              </div>

              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">右数据五</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputPassword3" placeholder="右数据五" #right_value_5>
                </div>
              </div>
              
          </form>

      </div>     
      <button type="submit" class="btn btn-default" (click)="right_submit(right_value_1, right_value_2, right_value_3, right_value_4, right_value_5)">右提交</button>
     </div>

    </div>

    <!-- 提交所有参数 -->
    <div style="text-align:center">
      <button type="submit" class="btn btn-default" (click)="submit_all(value_1, value_2, value_3, value_4, value_5)">提交所有</button>
    </div>
    <hr>

    <footer>
      <p>&copy; 2016 Company, Inc.</p>
    </footer>
</div> <!-- /container -->






<!-- <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div style="text-align:center">
        <h1>
          数据的设置
        </h1>

        <div class="row placeholders">
          <p>...........................</p>


          <div style="width: 30%" >
              <form class="form-horizontal">

                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">数据一</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputEmail3" placeholder="数据一" #value_1>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">数据二</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputPassword3" placeholder="数据二" #value_2>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">数据三</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputPassword3" placeholder="数据三" #value_3>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">数据四</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputPassword3" placeholder="数据四" #value_4>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">数据五</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputPassword3" placeholder="数据五" #value_5>
                    </div>
                  </div>
                  
              </form>
 
          </div>

          
          



          <button type="submit" class="btn btn-default" (click)="submit(value_1, value_2, value_3, value_4, value_5)">提交</button>
        </div>
    </div>
</div> -->