<!--The content below is only a placeholder and can be replaced.-->


<!-- 导航栏 -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">XXX系统</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/dashboard">仪表盘</a></li>
          <li><a routerLink="/msgset">设置</a></li>
          <li><a routerLink="/overview">描述</a></li>
          <li><a routerLink="/help">帮助</a></li>
          
        </ul>
        <form class="navbar-form navbar-right">
          <input type="text" class="form-control" placeholder="Search...">
        </form>
      </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li class="active"><a routerLink="/">概览 <span class="sr-only">(current)</span></a></li>
          <li><a routerLink="/reports">报表</a></li>
          <li><a href="#">分析</a></li>
          <li><a href="#">导出</a></li>
        </ul>
        <ul class="nav nav-sidebar">
          <li><a href="">项目一</a></li>
          <li><a href="">项目二</a></li>
          <li><a href="">项目三</a></li>
          <li><a href="">项目四</a></li>
          <li><a href="">项目五</a></li>
        </ul>

        <!-- <ul class="nav nav-sidebar">
          <li><a href="">Nav item again</a></li>
          <li><a href="">One more nav</a></li>
          <li><a href="">Another nav item</a></li>
        </ul> -->

      </div>

      <router-outlet></router-outlet>
      
    </div>
  </div>

   

  



  

  <!-- 概览 -->
  
  <!-- <app-overview></app-overview> -->
  
