<!-- 仪表盘---界面 -->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div style="text-align:center" >
        <h1>
          仪表盘
        </h1>
      

        <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <ngx-echarts [option]="option1"></ngx-echarts>
              <h4>仪表盘一</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <ngx-echarts [option]="option2"></ngx-echarts>              
              <h4>仪表盘二</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <ngx-echarts [option]="option3"></ngx-echarts>              
              <h4>仪表盘三</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <ngx-echarts [option]="option4"></ngx-echarts>
              <h4>仪表盘四</h4>
              <span class="text-muted">Something else</span>
            </div>
        </div>


        
      
    </div>    
        
</div>